@import "tailwindcss";

@font-face {
  font-family: 'Retrogression';
  src: url('/fonts/Retrogression-Regular.otf') format('opentype'),
       url('/fonts/Retrogression-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
